{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="page-title">关于本站</h1>
                    <article class="post">
                        <div class="entry-content clearfix">
                            <p>笔者网络领域小白,本博客建于2018年3月,用于记录在学习网络技术过程中的学习笔记以及科研方向的思考总结、心得体会等,督促自己养成良好的学习习惯,主要方向：软件定义网络,无线Mesh网络;业余爱好：web开发,网络爬虫,云计算</p>
                            <p>长亭外,古道边,寻梦的人路遥远,只为那 一朝芳草碧连天;苦与乐,弹指间,就算千里是烽烟,我相信 一切有峰回路转</p>
                            <p>学海无涯,不求刹那芳华,只愿不负韶华</p>
                            <figure class="img-responsive-center">
                                <img class="img-responsive" src="/static/fengyujc_blog/img/2.jpg" alt="Developer Image">
                            </figure>
                            <div class="height-40px"></div>
                            <h2 class="title text-center">作者</h2>
                            <ul class="social">
                                <li class="facebook"><a href="https://weibo.com/3902067034/profile?topnav=1&wvr=6"><span class="ion-ios-close-empty"></span></a></li>
                                <li class="twitter"><a href="https://github.com/SDN-Mesh-Networking"><span class="ion-social-twitter"></span></a></li>
                                <li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
                                <li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
                            </ul>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
{% endblock content %}

