{% extends 'base.html' %}
{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="page-title">联系作者</h1>
                    <article class="post">
                        <div class="entry-content clearfix">
                            <form action="#" method="post" class="contact-form">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input type="text" name="name" placeholder="名称" required>
                                        <input type="email" name="email" placeholder="你的邮箱" required>
                                        <input type="text" name="subject" placeholder="主题" required>
                                        <textarea name="message" rows="7" placeholder="正文" required></textarea>
                                        <button class="btn-send btn-5 btn-5b ion-ios-paperplane"><span>发送消息到作者邮箱</span></button>
                                    </div>
                                </div>	<!-- row -->
                            </form>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
{% endblock content %}